body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.list-type{
  list-style-type: none;
}
.d-flex{
  display:flex;
  justify-content: center;
  align-items: center;
}
.btn-btn{
  padding:0 10px;
  margin-left: 10px;

}
.list{
  margin: 5px 0;
}